@model IEnumerable<codeRed_Capstone.Models.Employee>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            @*<li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>*@
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sorting
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Sort by Last Name</a>
                    <a class="dropdown-item" href="#">Sort by Department</a>
                    @*<div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>*@
                </div>
            </li>
            @*<li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>*@
        </ul>
        <form action="/Employee/DetailsBySurname" method="get" class="form-inline my-2 my-lg-0">
            <input id="lastName" name="lastName" class="form-control mr-sm-2" type="search" placeholder="Search by Last Name" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<table class="table table-hover table-responsive-md table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GetHiredDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GetFiredDate)
            </th>
            <th> <a asp-action="Create" class="btn btn-outline-success"><i class="far fa-plus-square"></i>Create</a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetHiredDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetFiredDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID"><i class="fa fa-marker fa-lg"></i></a> |
                <a asp-action="Details" asp-route-id="@item.ID"> <i class="fas fa-info-circle"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.ID" class="text-danger ml-1" onclick="return confirm('You are about to delete this Employee, are you sure?')"><i class="fa fa-trash-alt fa-lg"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>

@*@if (ViewBag.Employees.Count > 0)
{

    <ol>

        @foreach (Employee emp in ViewBag.Employees)
        {
            <li>
                <div>
                    <div><span>ID: </span>@(emp.ID)<a href="/Employee/Details?id=@(emp.ID)">@(emp.LastName)</a> </div>
                    <div><span>First Name: </span>@(emp.FirstName)</div>
                    <div><span>Last Name: </span>@(emp.LastName)</div>
                    <div><span>Email: </span>@(emp.Email)</div>
                    <div><span>Phone: </span>@(emp.Phone)</div>
                    <div><span>Age: </span>@(emp.Age)</div>
                    <div><span>City: </span>@(emp.City)</div>
                    <div><span>Department: </span>@(emp.Department)</div>
                    <div><span>Hired Date: </span>@(emp.GetHiredDate)</div>
                    <div><span>Fired Date: </span>@(emp.GetFiredDate)</div>
                </div>
            </li>
        }
    </ol>
}
else
{
    <p>No books have been checked out.</p>
}*@
